

body {
    font-family: Arial;
	font-size: 18px;
	background-color: black;
	color: white;
	padding-left: 50px;
	border-width: 50px;
}


h1, #menu, #avatar{

	text-align: center;
}

ul, li{
  padding-left: 20px;
}
